@import "styles/utils/variables";

.ContactsInfo {
  width: 100%;
  min-width: 340px;
  max-width: 340px;
  padding: 20px;
  min-height: 100%;
  height: 100%;
  background: $c-grey-300;
  .ContactsInfo__title {
    font-weight: 500;
    font-size: 15px;
    color: $c-black-900;
  }
  .ContactsInfo__item {
    margin-bottom: 15px;
    .ContactsInfo__itemTitle {
      color: $c-blue;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }
    .ContactsInfo__itemLabel {
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      margin-top: 3px;
      color: $c-black-900;
    }
  }
}