@import "styles/utils/mixins";
@import "styles/utils/variables";

.MeterRecordsHistory {
  @include SectionStylesMixin;
}

.RecordsHistoryTable__date {
  width: 100%;
  display: table-row;
  background-color: #F4F4F4;
  height: 25px!important;
  .RecordsHistoryTable__cell {
    color: $c-black-600;
    font-weight: 500;
    padding-left: 10px;
  }
}