@import "styles/utils/variables";
@import "styles/utils/mixins";

.TaskRow {
  &__title {
    font-weight: 500;
  }
  &__tags {
    color: $c-black-600;
    font-weight: 500;
    margin-top: 4px;
  }
}

.TaskRow__hover {
  &:hover {
    background: #F6F4F4;
    cursor: pointer;
  }
  &:hover .TaskRow__title {
    color: $c-blue;
    text-decoration: underline;
  }
}