@import "styles/utils/variables";

.Notification {
  margin-bottom: 10px;
  background: #F1F1F1;
  border-radius: 4px;
  padding: 10px 15px;
  .Notification__top {
    .Notification__date {
      font-size: 12px;
      color: $c-black-600;
    }
    .Notification__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #131210;
      margin-top: 3px;
    }
  }
  .Notification__content {
    margin-top: 5px;
    .Notification__info {
      font-size: 14px;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.75);
    }
  }
}

.Notification__link {
  cursor: pointer;
  &:hover {
    background: $c-grey-100;
  }
}