@import "styles/utils/variables";

.Tab {
  display: flex;
  align-items: center;
  user-select: none;
  padding: 10px;
  border-bottom: 3px solid transparent;
  color: $c-black-600;
  .Tab__count {
    margin-left: 10px;
  }
}

.Tab__active {
  border-color: $c-blue;
  font-weight: 500;
  color: $c-black-900;
}

.TabList__header {
  display: flex;
  align-items: center;
  border-bottom: 1px $c-grey-100 solid;
}