// SIZES, MARGIN && PADDING

$fs-14: 14px;

// COLORS

$c-black-400: #131210;
$c-black-500: rgba(0, 0, 0, 0.5);
$c-black-600: rgba(0, 0, 0, 0.6);
$c-black-900: rgba(0, 0, 0, 0.9);
$c-black: #000;
$c-grey-100: #E5E5E5;
$c-grey-200: #F7F7F7;
$c-grey-300: #F3F3F3;
$c-grey-400: #F5F5F5;
$c-grey-500: rgba(45, 45, 45, 0.5);
$c-purple-400: #7541B8;
$c-blue: #1F70F3;
$c-yellow: #F4CE33;
$c-red: #EA1000;
$c-green: #34C759;
$c-orange: #FF9500;
$c-barley-white: #FFF3CD;
$c-light-green: #A2F07B;