.OrganizationType {
  border-radius: 3px;
  padding: 2px 6px;
  font-weight: 700;
  font-size: 13px;
  display: inline-block;
}

.OrganizationType__uk {
  background: rgba(52, 199, 89, 0.2);
  color: #34C759;
}

.OrganizationType__tsj {
  color: #E57E25;
  background: rgba(229, 126, 37, 0.2);
}