.OrganizationTab {
  display: flex;
  align-items: center;
  padding: 10px 0 0 15px;
}

.Documents {
  padding: 20px;
}

.OrganizationReviews {
  padding: 20px;
}

.OrganizationReviewDropdown {
  position: absolute;
  right: 0;
}