.StatementHeader__balance {
  color: #fff;
  margin-top: 10px;
  span {
    font-size: 20px;
    font-weight: 500;
  }
}

.StatementContent {
  background: #fff;
}

.StatementTab__header {
  padding: 10px 0 0 30px;
}